*{
    color:white;
}   

#alert{
    position: absolute;
    top: 30px;
    border-radius: 10px;
    z-index: 99;
    width: max-content;
    text-align: center;
    padding: 5px;
    float: right;
    right: 250px;
    transition-duration: 800ms;
}

#search-container{
    color: black;
}


body, html{
    margin: 0;
}

body{
    position: relative;
    height: 100%;
}

header{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    background-color: #332f2c;
    
}

.txt-bienvenido{
    font-size: 2.5em;
}

header *{
    font-size: 1.6rem;
    text-decoration: none;
}


#btn-submit{

  align-items: center;
  background-color: grey;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

#btn-submit {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


.app-name{
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-name a{
    text-decoration: none;
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


header input{
    height: 35px;
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 25px;
    margin-top:3rem;
}

header input:focus{
    border: 3px solid white;
}

header button{
    margin-right: 20px;
}

header button a{
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


#result-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #332f2c;
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    background-color: #332f2c;
}

.card-container{
    display: flex;
    flex-direction: column;
    width: 220px;
    border: 2px solid grey(255, 0, 0);
    text-align:left;
    background-color: gray;
}

.card-img-container img{
    height: 180px;
    width: 100%;    
    background-color: #332f2c;
}

.card-name{
    padding: 5px;
    background-color: #332f2c;
}

.card-name:hover{
    color: white;
    cursor: pointer;
}